@import 'settings.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--secondary-color);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

.title {
  margin: var(--margin-small) 0;
}

form {
  grid-column: 3 / 6;
  background-color: var(--tertiary-color);
  border-radius: var(--border-radios-medium);
  padding: 1rem;
}

@media only screen and (max-width: 500px) {
  main {
    align-items: unset;
  }

  form {
    grid-column: 1 / -1;
    border-radius: none;
  }
}

.container {
  display: flex;
  flex-direction: column;
  margin: var(--margin-small) 0;
}

.container > input:not(input[type="range"]) {
  border: none;
  background-color: var(--primary-color);
  height: var(--input-height-medium);
  border-radius: var(--border-radios-small);
  text-indent: var(--indent);
}

.container__label {
  margin: var(--margin-small) 0;
}

section {
  margin: var(--margin-small) 0;
}
