@import 'settings.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
}

.title {
  margin: var(--margin-small) 0;
}

form {
  grid-column: 3 / 6;
  background-color: var(--tertiary-color);
  border-radius: var(--border-radios-medium);
  padding: 1rem;
}

@media only screen and (max-width: 560px) {
  main {
    align-items: unset;
    font-size: (--font-size-small);
  }

  .title {
    font-size: var(--font-size-bigger);
  }

  form {
    grid-column: 1 / -1;
    border-radius: unset;
  }

  @media only screen and (max-width: 414px) {
    form {
      display: flex;
      flex-direction: column;
      gap: var(--gap-medium);
    }
  }
}

.btn {
  border: none;
  height: var(--btn-height-medium);
  border-radius: var(--border-radios-small);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 0 var(--margin-small) 0;
}

.container > input:not(input[type='range']) {
  border: none;
  background-color: var(--secondary-color);
  height: var(--input-height-medium);
  border-radius: var(--border-radios-small);
  text-indent: var(--indent);
}

.container__label {
  margin: var(--margin-small) 0;
}

.container__checkbox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.container__checkbox div:has(input#react) {
  justify-self: end;
}

.container__checkbox div:has(input#javascript) {
  justify-self: center;
}

section {
  margin: var(--margin-small) 0;
}

@media only screen and (max-width: 800px) {
  .container__checkbox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }

  .container__checkbox div:has(input#react) {
    justify-self: unset;
  }
  
  .container__checkbox div:has(input#javascript) {
    justify-self: unset;
  }
}

@media only screen and (max-width: 560px) {
  .container > input:not(input[type='range']) {
    height: var(--input-height-medium);
  }

  .container__label {
    font-size: var(--font-size-small);
  }

  .container__checkbox {
    font-size: var(--font-size-small);
  }
}

.konami__container {
  grid-column: 3 / 6;
  display: none;
}

.gif {
  width: 100%;
}