@import 'settings.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body {
  height: 100vh;
  color: var(--text-color);
  background-image: url('https://images.pexels.com/photos/7641842/pexels-photo-7641842.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main {
  height: 100%;
  display: grid;
  place-content: center;
}

.title {
  display: none;
}

form {
  width: 50rem;
  background-color: var(--secondary-color);
  backdrop-filter: blur(1rem);
  padding: var(--padding-medium) 1.4rem;
  display: grid;
  gap: 1rem 0;
}

.container:not(:has(input[type='range'])) {
  display: grid;
  grid-template-columns: 35% 5% 60%;
  grid-template-rows: 1fr;
}

.container span {
  align-self: center;
}

.container input:not(input[type='range']) {
  height: var(--input-height-medium);
  border: none;
  background-color: var(--input-background-color);
  text-indent: var(--text-indent);
  color: white;
}

.container:has(.label--expe) {
  display: grid;
  grid-template-columns: 35% 5% 30% 30%;
  align-items: center;
}

.container:has(.label--expe) input + span {
  justify-self: end;
}

.container:has(.label--expe) > input {
  border: none;
  height: var(--standard-height);
}

.container__label {
  text-transform: uppercase;
  align-self: center;
}

.konami__container {
  display: none;
}

section {
  display: grid;
  grid-template-columns: 35% 5% 60%;
}

section label,
span,
.container__checkbox {
  align-self: center;
}

.container__checkbox {
  height: var(--standard-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: var(--btn-height-medium);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-bc-color);
}

@media only screen and (max-width: 800px) {
  form {
    width: 35rem;
  }

  @media only screen and (max-width: 600px) {
    .title {
      display: block;
    }

    body {
      background: unset;
    }

    main {
      height: unset;
      justify-content: unset;
      align-items: unset;
    }

    form {
      width: 100%;
      background-color: var(--secondary-color);
      padding: 0.6rem;
    }

    .container:not(:has(input[type='range'])) {
      grid-template-columns: none;
    }

    .container span {
      display: none;
    }

    .container__label {
      margin-bottom: 0.4rem;
    }

    .container:has(.label--expe) {
      grid-template-columns: none;
    }

    section {
      grid-template-columns: none;
    }

    section > span {
      display: none;
    }

    .konami__container img {
      width: 100%;
    }
  }
}
