:root {
  --primary-color: #30343f;
  --secondary-color: #e7ecef;
  --tertiary-color: #274690;
  --text-color: #e7ecef;
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-big: 1.2rem;
  --font-size-bigger: 1.6rem;
  --border-radios-small: 0.2rem;
  --border-radios-medium: 0.6rem;
  --border-radios-big: 1rem;
  --input-width-small: 10rem;
  --input-width-medium: 12rem;
  --input-width-big: 14rem;
  --input-height-small: 1rem;
  --input-height-medium: 2rem;
  --input-height-big: 2.6rem;
  --box-shadow: 0 0 20px 1px rgb(0 0 0 / 20%);
  --padding-small: 1rem;
  --padding-medium: 2rem;
  --padding-big: 3rem;
  --margin-small: 0.2rem;
  --margin-medium: 1rem;
  --margin-big: 2rem;
  --font-weight: bold;
  --font: 'Allerta', sans-serif;
  --indent: 0.2rem;
  --container-width-normal: 500px;
  --container-width-movil: 400px;
  --container-width-small: 300px;
  --gap-small: 0.2rem;
  --gap-medium: 0.4rem;
  --gap-big: 0.6rem;
  --btn-height-small: 2rem;
  --btn-height-medium: 2.6rem;
}
